<%- include('partials/header.ejs')-%>
    <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
    <li><a href="/new" class="nav-link px-2 link-dark">Topic Submission</a></li>
    <li><a href="/add" class="nav-link px-2 link-dark">Add Script</a></li>
    <li><a href="/db" class="nav-link px-2 link-secondary ">Check Previous Submission</a></li>
    <li><a href="/pr" class="nav-link px-2 link-dark">PR Application</a></li>
    </ul>
    </header>
    </main>
    </div>

    <!--body content starts here-->

    <%- include('partials/footer.ejs')-%>